<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="environment" xsi:type="array">
                <item name="vinhcd_aws/general/access_key" xsi:type="string">1</item>
                <item name="vinhcd_aws/general/secret" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
</config>
